<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div id="contact-list" class="center-con">
            <div class="top">
                <h1>Business Contacts</h1>
                <a href="/add-contact" class="button">Add Contact</a>
            </div>
            <table id="contacts">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                
                <% for (var i = 0; i < contacts.length;  i++) { %>
                    <tr>
                        <td><%= contacts[i].name %></td>
                        <td><%= contacts[i].email %></td>
                        <td><%= contacts[i].phone %></td>
                    </tr>    
                <% } %>
            </table>
        </div>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>